/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #1a202c;
	background: #fff;
 	padding-top: 80px;
 	margin-bottom: 60px; /* Margin bottom by footer height */	
}

/*Top Nav Bar style*/
.navbar-inverse {
    background-color: #1a202c;
    height: 2.55556em;
}
.navbar-collapse {
	border-top: none;
	background-color: #1a202c;
}

.brand {
	margin-top: -6px;
	margin-bottom: 25px
}
@media(max-width:767px) {
    .display_logo {
    	margin-top: 0px; 

    }
}
.logo_homepage{
	margin-top: 15px;
	margin-bottom: 25px
}
/*-------------sign up button style-----------*/
.signup{
	color: #fff;
	margin-top: 9px;
	padding-top: 5px;
	background-color: #ff754f;
	border-color: transparent;
}
.signup:hover{
	color: #fff;
	background-color: #D93B0F;
	border-color: #D93B0F;
}
.signup:focus{
	color: #fff;
	background-color: #D93B0F;
	border-color: #D93B0F;
}
.signup-header{
	background-color: #fff
}
.section-wrapper span {
    background: none repeat scroll 0 0 #f1f1f1;
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
    top: -0.8em;
}

/*--------------Login button style--------------*/
.login{
	color: #fff;
	margin-top: 9px;
	padding-top: 5px;
	background-color: #1a202c;
	border-color: #fff
}
.login:active{
	background-color: #1F7872;
	border-color: #fff;
}
.login:hover{
	color: #fff;
	background-color: #1F7872;
	border-color: #1F7872;
}
.login:focus{
	color: #fff;
	background-color: #1F7872;
	border-color: #1F7872;
}
/*-------------------Nav-bar User account-------------------*/
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
@media(max-width:767px) {
    .mobile-view {
    	color: #fff;

    }
    .navbar-login{
    	width: 98%;
    }
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
background-color: #CCCCCC;
    }    
}
#divide{
    border: none;
    border-top: 0;
    border-left: 0; 
    border-right: 0;
    padding-bottom: -10px;
    border-bottom-width: -1px;
    margin-bottom: -10px;
  }
@media(max-width:767px){
#divide{
    border: 1px solid gray;
    border-top: 0;
    border-left: 0; 
    border-right: 0;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    margin-bottom: 10px;
  }
}
/*.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}*/

/*---------------------Login Form---------------------------*/
@media(max-width:767px){
  .display_logo{
      margin-top: 30px;
    }
}    
  .login-form {
    max-width: 320px;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
 .login-title {
    text-align: center;
  }
  .forgot_password{
    margin-top: 15px;
  }
/*---------------------/. Login Form---------------------------*/

/*--------------------- Sign Up Form---------------------------*/
.btn-success{
	background-color: #23b0a3;
	border-color: #23b0a3
}
.btn-success:hover{
	background-color: #338e86;
	border-color: #338e86
}
.btn-success:focus{
	background-color: #338e86;
	border-color: #338e86
}
legend{
	color:#141823;
	font-size:25px;
	font-weight:bold;
}
.form-control { margin-bottom: 10px; }

/*---------------------/. Sign Up Form---------------------------*/

/*header search bar*/
.desktop-search-bar{
  width:400px;
}
@media(max-width:767px) {
    .navbar .navbar-form {
        width: auto;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 380px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Search bar*/
.search-bar{
	border-right: none;
}
.caret-space{
	margin-left: 2px !important;
}
.search-option{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-left: none;
	border-right: none;
}
/*--------------------------Lecturer---------------------*/
.profile 
{
    display: inline-block;
    max-width: 555px;
}

#profile-content{
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  .profile, .user-icon { 	 
  	text-align: center;
  }
}
.lecturer-vote-group-btn{
	/*padding: 0 !important*/
  margin-top: -5px !important;
}   
.lecturer-vote{

	margin-top: 50px;
}
.lecturer-vote-btn{
	border-top-left-radius: 0;
	border-top-right-radius: 0;	
}
.glyphicon-thumbs-up{
	font-size: 1.8em;
}
.glyphicon-thumbs-down{
	font-size: 1.8em;
}
/* Search Result styles
-------------------------------------------------- */
#paper-result-area{
	margin-top: 10px;
}
.search-subject>.search-subject-heading{
    background-color: #1a202c;
	border-color: #BFBFBF;
}
.panel {
	font-size: 18px;
	text-align: center;
	color: #7A7A7A;
	background-color: #ffffff; 
	border-radius: 0px;
}
.panel-heading{
	font-weight: bold;
	border-top-left-radius: 0px;
	border-top-right-radius:0px;
	padding: 5px 10px;
}
.panel-primary {
	border-color: #1a202c;
}
/*.panel-body{
    text-transform:capitalize;
	max-height: 50px;
}*/

.see_all, .see_all:hover{
	color: #7A7A7A;
}

/*Past year download modal*/
.table-hover, th{
	color: #4F4F4F;
	text-align: center;
}
.view{
	margin-top: -4px;
	margin-left: 15px;
	font-size: 15px;
	color: #C9C9C9;
	text-align: left;
}
.update{
	margin-left: 15px;
	font-size: 15px;
	color: #C9C9C9;
	text-align: left;
	margin-bottom: -20px;
}
.glyphicon-download{
	color: #02D943;
	font-size: 1.2em;
}

.glyphicon-download:hover{
	color: #007824;
	font-size: 1.2em;
}
/* User account
-------------------------------------------------- */
.btn-file {
	margin-top: 5px;
    position: relative;
    overflow: hidden;
    }
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    }

/*------------------------------Update Status-----------------------------------*/
/*body {
    background-color: rgb(229, 229, 229);
    padding-top: 60px;
    padding-bottom: 30px;
}*/

.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;   
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
  border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
.panel-google-plus > .panel-heading > img { 
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;   
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;   
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }    
}


.panel-google-plus .btn {
    border-radius: 3px;   
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.text-muted {
 color: #fff; 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #1a202c;
  font-size: 15px;
}
.footer_container {
  width: auto;
  text-align: center;
}
.footer_container .text-muted {
  margin-top: 8px;
}

.footer_container .about{
  position: relative;
  padding: 0 20px;
  color: #72B095
}

@media (max-width: 767px){
  .copy-right{
      display: block;
      text-align: center;
    }
}
 /*--------------------------------------------------  
About Page glyphicon styles*/
.name{
	font-weight: bold;
}
.position{
	color: #A8A8A8;
}
.glyphicon-heart {
	color: #FF006A;
	font-size: 4em;

}
.glyphicon-wrench{
	color: #FF7700;
	font-size: 4em;

}
.glyphicon-globe{
	color: #639FFF;
	font-size: 4em;
}
 /*--------------------------------------------------  
End of Sticky footer styles*/
 
 /*--------------------------------------------------  
Contact Modal styles*/
#ContactModal{
  font-family:'Lato', Calibri, Arial, sans-serif;
  color: #5C5A5A;
}

.form-control{
  border-radius: 0;
  box-shadow: none;
}

.modal-content{
	border-radius: 0;
}
.modal-header{
  background-color: #1a202c;
}
.modal-title{
	color: #ffffff
}

.close-modal{
	background-color: #ffffff;
	color: #4F4F4F;
	margin-top: 0px;
}
.close{
	color: #ffffff;
	opacity: 10;
}
.close:hover{
	color: #E60B0B;
	opacity: 10;
}

.container > header {
	text-align: center;
}

.loading-mid{
	background-image:url(../assets/img/loading/64x64.gif); 
	height:67px;
	width:67px;
	background-repeat: no-repeat;
	margin:auto
}

.loading-small{
	background-image:url(../assets/img/checked.gif); 
	height:21px;
	width:21px;
	background-repeat: no-repeat;
	margin:auto
}
@media(max-width:767px) {
    body {
    	padding-top: 31px; 

    }
}